<h1 class="my-3"><%= Order.model_name.human count: 2 %></h1>

<% if current_user.admin? %>
  <div class="my-3">
    <%= link_to "#{ t(:register) } #{ Order.model_name.human }", new_order_path, class: "btn btn-outline-dark " %>
  </div>
<% end %>

<% if @orders.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Order.human_attribute_name(:tracking_code) %></th>
        <th><%= t(:origin) %></th>
        <th><%= t(:destination) %></th>
        <th><%= Order.human_attribute_name(:distance) %></th>
        <th><%= Order.human_attribute_name(:status) %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.tracking_code, order, class: "link-dark" %></td>
          <td><%= order.origin_city_and_state %></td>
          <td><%= order.destination_city_and_state %></td>
          <td><%= number_to_human(order.distance, delimiter: ' ', units: { unit: 'km' }) %></td>
          <td><%= Order.human_attribute_name("status.#{order.status}") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-secondary text-center">
    <%= t(:no_order_registered) %>
  </div>
<% end %>