<% if current_user.admin? %>
  <div>
    <h1 class="my-3"><%= t(:new_fem) %> <%= ShippingOption.model_name.human %></h1>
    <%= render 'form' %>
  </div>

  <br>
<% end %>

<h1 class="my-3"><%= ShippingOption.model_name.human count: 2 %></h1>

<% if @shipping_options.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= ShippingOption.human_attribute_name(:name) %></th>
        <th><%= t(:distance_range) %></th>
        <th><%= t(:weight_range) %></th>
        <th><%= ShippingOption.human_attribute_name(:delivery_fee) %></th>

        <% if current_user.admin? %>
          <th><%= ShippingOption.human_attribute_name(:status) %></th>
          <th class="text-center"><%= t(:edit_shipping_option) %></th>
          <th class="text-center"><%= t(:change_status) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @shipping_options.each do |so| %>
        <tr>
          <td><%= so.name %></td>
          <td>
            <%= number_to_human(so.min_distance, delimiter: ' ', units: { unit: 'km' }) %><%= t(:to) %>
            <%= number_to_human(so.max_distance, delimiter: ' ', units: { unit: 'km' }) %>
          </td>
          <td>
            <%= number_to_human(so.min_weight, units: {unit: 'g', thousand: 'kg'}) %><%= t(:to) %> 
            <%= number_to_human(so.max_weight, units: {unit: 'g', thousand: 'kg'}) %>
          </td>
          <td><%= number_to_currency(so.delivery_fee) %></td>

          <% if current_user.admin? %>
            <% if so.status == 'enabled' %>
              <td class="fw-semibold text-success"><%= ShippingOption.human_attribute_name("status.#{so.status}") %></td>
            <% else %>
              <td class="fw-semibold text-danger"><%= ShippingOption.human_attribute_name("status.#{so.status}") %></td>
            <% end %>

            <td class="text-center"><%= link_to t(:edit), edit_shipping_option_path(so.id), class: "btn btn-outline-dark" %></td>

            <% if so.status == 'disabled' %>
              <td class="text-center"><%= button_to t(:enable), enable_shipping_option_path(so.id), class: "btn btn-outline-success" %></td>

            <% elsif so.status == 'enabled' %>
              <td class="text-center"><%= button_to t(:disable), disable_shipping_option_path(so.id), class: "btn btn-outline-danger" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-secondary text-center">
    <%= t(:no_shipping_option_registered) %>
  </div>
<% end %>