<h1 class="my-3"><%= ShippingOption.human_attribute_name(:name) %> <%= @shipping_option.name %></h1>

<h3 class="my-3 text-muted">
  <%= ShippingOption.human_attribute_name(:status) %>: <%= ShippingOption.human_attribute_name("status.#{@shipping_option.status}") %>
</h3>

<dl>
  <dt class="fw-semibold"><%= t(:distance_range) %>:</dt>
  <dd>
    <%= number_to_human(@shipping_option.min_distance, delimiter: ' ', units: { unit: 'km' }) %><%= t(:to) %>
    <%= number_to_human(@shipping_option.max_distance, delimiter: ' ', units: { unit: 'km' }) %>
  </dd>
  <dt class="fw-semibold"><%= t(:weight_range) %>:</dt>
  <dd>
    <%= number_to_human(@shipping_option.min_weight, units: {unit: 'g', thousand: 'kg'}) %><%= t(:to) %> 
    <%= number_to_human(@shipping_option.max_weight, units: {unit: 'g', thousand: 'kg'}) %>
  </dd> 
  <dt class="fw-semibold"><%= ShippingOption.human_attribute_name(:delivery_fee) %>:</dt>
  <dd><%= number_to_currency(@shipping_option.delivery_fee) %></dd>
</dl>

<% if current_user.admin? %>
  <div class="row">
    <div class="d-grid gap-2 col-4 my-3">
      <%= link_to t(:edit_shipping_option), edit_shipping_option_path(@shipping_option.id), class:"btn btn-outline-dark" %>
    </div>

    <div class="d-grid gap-2 col-4 my-3">
      <% if @shipping_option.status == 'disabled' %>
        <%= button_to t(:enable), enable_shipping_option_path(@shipping_option.id), class: "btn btn-success" %>
      <% elsif @shipping_option.status == 'enabled' %>
        <%= button_to t(:disable), disable_shipping_option_path(@shipping_option.id), class: "btn btn-danger" %></td>
      <% end %>
    </div>    
  </div>
<% end %>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4><%= Vehicle.model_name.human count: 2 %></h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render 'vehicles/vehicles_table' %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4><%= Price.model_name.human count: 2 %></h4>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render 'prices/prices_table' %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h4><%= Deadline.model_name.human count: 2 %></h4>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= render 'deadlines/deadlines_table' %>
      </div>
    </div>
  </div>
</div>