<h1 class="my-3"><%= Price.model_name.human count: 2 %></h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark active" id="prices-tab" data-bs-toggle="tab" data-bs-target="#prices-tab-pane" type="button" 
      role="tab" aria-controls="prices-tab-pane" aria-selected="true">
      <%= t(:prices_title) %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link link-dark" id="distance_fees-tab" data-bs-toggle="tab" data-bs-target="#distance_fees-tab-pane" type="button" 
      role="tab" aria-controls="distance_fees-tab-pane" aria-selected="false">
      <%= DistanceFee.model_name.human count: 2 %>
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="prices-tab-pane" role="tabpanel" aria-labelledby="prices-tab" tabindex="0">
    <%= render 'prices_table' %>  
  </div>
  <div class="tab-pane fade" id="distance_fees-tab-pane" role="tabpanel" aria-labelledby="distance_fees-tab" tabindex="0">
    <%= render 'distance_fees/distance_fees_table' %>
  </div>
</div>