<% if current_user.admin? %>
  <div>
    <h1 class="my-3"><%= t(:new_masc) %> <%= Vehicle.model_name.human %></h1>
    <%= render 'form' %>
  </div>

  <br>
<% end %>

<h1 class="my-3"><%= Vehicle.model_name.human count: 2 %></h1>

<% if @vehicles.any? %>
  <%= render 'vehicles_table' %>
<% else %>
  <div class="alert alert-secondary text-center">
    <%= t(:no_vehicles_registered) %>
  </div>
<% end %>